:root {
  /* 🎮 fondos */
  --bg-main: #020617;
  --bg-secondary: #0f172a;
  --bg-card: rgba(15, 23, 42, 0.7);

  /* 🔥 colores */
  --primary: #38bdf8;
  --secondary: #a855f7;
  --accent: #22c55e;
  --danger:#ef4444;
  --avatar: #6366f1;

  /* texto */
  --text-main: #e2e8f0;
  --text-muted: #94a3b8;

  /* efectos */
  --glow-blue: rgba(56, 189, 248, 0.6);
  --glow-purple: rgba(168, 85, 247, 0.5);

  /* ⚡ utilidades */
  --transition: all 0.3s ease;
  --radius: 12px;
}